resources:
  pipelines:
    bundle_pipeline:
      name: "DLT Pipeline"
      libraries:
        - notebook:
            path: "../notebooks/${bundle.environment}/hello.ipynb"
      target: {{.dlt_schema}}
      development: true
      photon: true
      channel: PREVIEW
      catalog: {{.dlt_catalog}}
      serverless: true